Flask==0.11.1
Flask-SocketIO==2.7.2
Jinja2==2.8
MarkupSafe==0.23
Werkzeug==0.11.11
argparse==1.2.1
bzr==2.6.0dev2
click==6.6
configobj==4.7.2
## FIXME: could not find svn URL in dependency_links for this package:
distribute==0.6.24dev-r0
gevent==1.2a1
greenlet==0.4.10
itsdangerous==0.24
mercurial==2.2.2
netCDF4==1.2.4
numpy==1.11.2
pystache==0.5.4
python-dateutil==1.5
python-engineio==1.0.3
python-socketio==1.6.0
six==1.10.0
wsgiref==0.1.2
