<!DOCTYPE html>
<html>
<title>Project Status...</title>
<head>
<meta charset="utf-8">
<link rel="icon" href="/static/img/favicon.ico">
<link rel="stylesheet" href="/static/css/leaflet.css" />
<link rel="stylesheet" href="/static/css/bootstrap-slider.min.css" />
<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/moment.min.js"></script>
<script src="/static/js/chrono.min.js"></script>
<script src="/static/js/juration.js"></script>
<script src="/static/js/iso8601.js"></script>
<script src="/static/js/bootstrap-slider.min.js"></script>
<script src="/static/js/bootstrap-datetimepicker.min.js"></script>
<script src="/static/js/leaflet.js"></script>
{% if shrink_domain %}
<link rel="stylesheet" href="/static/css/leaflet-areaselect.css" />
<script src="/static/js/leaflet-areaselect.js"></script>
{% endif %}
<link rel="stylesheet" href="/static/css/bootstrap.min.css">
<link rel="stylesheet" href="/static/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="/static/css/bootstrap-datetimepicker.min.css">
<link rel="stylesheet" href="/static/css/Leaflet.Coordinates-0.1.5.css" />
<script type="text/javascript" src="/static/js/Leaflet.Coordinates-0.1.5.min.js"></script>
<style>
#map { height: 400px; width: 600px;}
.slider-selection {
	background: #BABABA;
}
</style>
<script>

function timeEntryMode(src) {
	var timeIntervalDiv = document.getElementById("TIME_INTERVAL");
	var exactTimeDiv = document.getElementById("EXACT_TIME");
	if ( src.value === "Time interval" ) {
            timeIntervalDiv.style.display = "block";
	    exactTimeDiv.style.display = "none";
        } else {
            timeIntervalDiv.style.display = "none";
	    exactTimeDiv.style.display = "block";
        }
}	

function timeTypeFunction() {
	var timeIntervalDiv = document.getElementById("TIME_INTERVAL");
	var exactTimeDiv = document.getElementById("EXACT_TIME");
	if ( document.getElementById('exactTime').checked ) {
            timeIntervalDiv.style.display = "none";
	    exactTimeDiv.style.display = "block";
	} else {
            timeIntervalDiv.style.display = "block";
	    exactTimeDiv.style.display = "none";
        }
}

var min_date = new Date().setISO8601("{{date_min}}");
var max_date = new Date().setISO8601("{{date_max}}");
var date_range_millis = max_date.getTime() - min_date.getTime();
var marker = undefined;
var update_marker_location = function(){
    var newLatLng = new L.LatLng(parseFloat($("#latitude").val()),parseFloat($("#longitude").val()));
    marker.setLatLng(newLatLng); 
}

var create_map = function(){
    map = L.map('map', {
    zoom: 12,
    fullscreenControl: true,
    center: [{{latitude}}, {{longitude}}]
    });
    var tiles = L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
      attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors',
    }).addTo(map);
  L.control.coordinates({
      position: "bottomright",
      decimals: 3,
      labelTemplateLat: "Latitude: {y}",
      labelTemplateLng: "Longitude: {x}",
      useDMS: false,
      enableUserInput: false
  }).addTo(map);
  marker = L.marker([{{latitude}}, {{longitude}}],{draggable: true}).addTo(map);
  marker.on('drag',function(e){
      $("#latitude").val(e.latlng.lat);
      $("#longitude").val(e.latlng.lng);
   });
  // show the bounds of the model
   var model_polygon = L.polygon({{polygon}}, {fill: false, color:"#ff7800", weight: 1}).addTo(map);
   map.fitBounds(model_polygon.getBounds());

  $("#latitude").change(update_marker_location);
  $("#longitude").change(update_marker_location);
   {% if shrink_domain %}
    var setShrinkDomain = function(bounds){
	    var northwest = bounds.getNorthWest();
	    var southeast = bounds.getSouthEast();
       $("#northwest_lat").val(northwest.lat);
       $("#northwest_lon").val(northwest.lng);
       $("#southeast_lat").val(southeast.lat);
       $("#southeast_lon").val(southeast.lng);
    }
    var areaSelect = L.areaSelect({width:map.getSize().x - 20, height: map.getSize().y - 20});
    areaSelect.on("change", function() {
     setShrinkDomain(this.getBounds());
    });
    areaSelect.addTo(map);
    setShrinkDomain(areaSelect.getBounds());
   {% endif %}
};

var format_date = function(d){
   return d.toISOString().substring(0,19)+"Z";
}

var picker_date_format = "MMM DD h:mm A"

var _update_dates = function(startdate){
   
     if(startdate.getTime()<min_date.getTime()){
        startdate = new Date(min_date.getTime()); 
        $("#start_time_picker").val(moment(startdate).format(picker_date_format));
        $('#start_time_picker').animate({backgroundColor: '#FF0000'}, 'slow');
     }else if(startdate.getTime()>max_date.getTime()-3600000){
        startdate = new Date(max_date.getTime()-3600000);
        $("#start_time_picker").val(moment(startdate).format(picker_date_format));
        $('#start_time_picker').animate({backgroundColor: '#FF0000'}, 'slow');
     }
     
       if(startdate.getTime()<min_date.getTime()){
          startdate = new Date(min_date.getTime()); 
          $("#start_time_picker2").val(moment(startdate).format(picker_date_format));
          $('#start_time_picker2').animate({backgroundColor: '#FF0000'}, 'slow');
       }else if(startdate.getTime()>max_date.getTime()-3600000){
          startdate = new Date(max_date.getTime()-3600000);
          $("#start_time_picker2").val(moment(startdate).format(picker_date_format));
          $('#start_time_picker2').animate({backgroundColor: '#FF0000'}, 'slow');
       }
       
         if(startdate.getTime()<min_date.getTime()){
            startdate = new Date(min_date.getTime()); 
            $("#start_time_picker3").val(moment(startdate).format(picker_date_format));
            $('#start_time_picker3').animate({backgroundColor: '#FF0000'}, 'slow');
         }else if(startdate.getTime()>max_date.getTime()-3600000){
            startdate = new Date(max_date.getTime()-3600000);
            $("#start_time_picker3").val(moment(startdate).format(picker_date_format));
            $('#start_time_picker3').animate({backgroundColor: '#FF0000'}, 'slow');
         }
         
           if(startdate.getTime()<min_date.getTime()){
              startdate = new Date(min_date.getTime()); 
              $("#start_time_picker4").val(moment(startdate).format(picker_date_format));
              $('#start_time_picker4').animate({backgroundColor: '#FF0000'}, 'slow');
           }else if(startdate.getTime()>max_date.getTime()-3600000){
              startdate = new Date(max_date.getTime()-3600000);
              $("#start_time_picker4").val(moment(startdate).format(picker_date_format));
              $('#start_time_picker4').animate({backgroundColor: '#FF0000'}, 'slow');
           }
     
     
     $("#start_time").val(format_date(startdate));
     $("#start_time2").val(format_date(startdate));
     $("#start_time3").val(format_date(startdate));
     $("#start_time4").val(format_date(startdate));
   
}


var update_dates = function(){
   _update_dates(chrono.parseDate($("#start_time_picker").val()));
   _update_dates(chrono.parseDate($("#start_time_picker2").val()));
   _update_dates(chrono.parseDate($("#start_time_picker3").val()));
   _update_dates(chrono.parseDate($("#start_time_picker4").val()));
};


let fetch_model_info = fetch("/api/model/{{model}}/info").then(r=>r.json());
var list_object_types = function(){
  fetch_model_info .then(info=>{
    let showMore = document.createElement('option');
    showMore.innerHTML = "more options...";
    showMore.style["font-weight"] = "bold";
    let showFewer = document.createElement('option');
    showFewer.innerHTML = "fewer options...";
    showFewer.style["font-weight"] = "bold";
    let options = info.leeway_drifters.map(e=>{
      let option = document.createElement('option');
      option.value = e.index;
      if(e.preferred){
        option.style["font-weight"] = "bold";
      }
      option.innerHTML = e.label.replace(/>/g,'&nbsp;&nbsp;');
      return option;
    });
    options.push(showFewer);
    let preferred_options = info.leeway_drifters.filter(e=>e.preferred).map(e=>{
      let option = document.createElement('option');
      option.value = e.index;
      option.innerHTML = e.label.replace(/>/g,'');
      return option;
    });

    preferred_options.push(showMore);
    let select = document.getElementById('object_type');
    let setOptions = (opts)=>{
       while(select.firstChild){
        select.removeChild(select.firstChild);
       }
       opts.map(o=>select.appendChild(o));
       select.selectedIndex = 0;
    }
    select.onchange = ()=>{
      let selected = select.options[select.selectedIndex];
      if(selected === showMore){
        setOptions(options);
      }else if(selected === showFewer){
        setOptions(preferred_options)
      }
    };
    setOptions(preferred_options);
  });
}



$(document).ready(function(){
  $("#start_time_picker").val(moment('{{start_time}}').format(picker_date_format));
  $("#start_time_picker2").val(moment('{{start_time}}').format(picker_date_format));
  $("#start_time_picker3").val(moment('{{start_time}}').format(picker_date_format));
  $("#start_time_picker4").val(moment('{{start_time}}').format(picker_date_format));
   $("#radius").slider({
	formatter: function(value) {
          $("#radius_label").text(value);
        }
     });
    $("input:text").focus(function() { $(this).select(); } );

   $("#start_time_picker").on("change",update_dates);
   $("#start_time_picker2").on("change",update_dates);
   $("#start_time_picker3").on("change",update_dates);
   $("#start_time_picker4").on("change",update_dates);
   
   $("#switchcalendar").on("click",function(){
    $("#datetimepicker0").addClass('hidden');
    $("#datetimepicker1").removeClass('hidden');
       $('#datetimepicker2').datetimepicker({
                format: "YYYY-MM-DD HH:mm",
                inline: true,
                sideBySide: true,
                defaultDate:  $("#start_time").val(),
                minDate: min_date,
                maxDate: max_date
            });

       $('#datetimepicker2').on('dp.change',function(e){
        $("#start_time_picker").val(e.date.format(picker_date_format));
        _update_dates(e.date.toDate());

       });

   });
   
   
      $("#switchcalendar2").on("click",function(){
       $("#datetimepicker3").addClass('hidden');
       $("#datetimepicker4").removeClass('hidden');
          $('#datetimepicker5').datetimepicker({
                   format: "YYYY-MM-DD HH:mm",
                   inline: true,
                   sideBySide: true,
                   defaultDate:  $("#start_time2").val(),
                   minDate: min_date,
                   maxDate: max_date
               });

          $('#datetimepicker5').on('dp.change',function(e){
           $("#start_time_picker2").val(e.date.format(picker_date_format));
           _update_dates(e.date.toDate());

          });

      });
      
      
         $("#switchcalendar3").on("click",function(){
          $("#datetimepicker6").addClass('hidden');
          $("#datetimepicker7").removeClass('hidden');
             $('#datetimepicker8').datetimepicker({
                      format: "YYYY-MM-DD HH:mm",
                      inline: true,
                      sideBySide: true,
                      defaultDate:  $("#start_time3").val(),
                      minDate: min_date,
                      maxDate: max_date
                  });

             $('#datetimepicker8').on('dp.change',function(e){
              $("#start_time_picker3").val(e.date.format(picker_date_format));
              _update_dates(e.date.toDate());

             });

         });
   
   
      $("#switchcalendar4").on("click",function(){
       $("#datetimepicker9").addClass('hidden');
       $("#datetimepicker10").removeClass('hidden');
          $('#datetimepicker11').datetimepicker({
                   format: "YYYY-MM-DD HH:mm",
                   inline: true,
                   sideBySide: true,
                   defaultDate:  $("#start_time4").val(),
                   minDate: min_date,
                   maxDate: max_date
               });

          $('#datetimepicker11').on('dp.change',function(e){
           $("#start_time_picker4").val(e.date.format(picker_date_format));
           _update_dates(e.date.toDate());

          });

      });
   
   $("#cancelcalendar").on("click",function(){
        $("#datetimepicker1").addClass('hidden');
      $("#datetimepicker0").removeClass('hidden');
   });
   
   
   $("#cancelcalendar2").on("click",function(){
        $("#datetimepicker4").addClass('hidden');
      $("#datetimepicker3").removeClass('hidden');
   });
   
   
   $("#cancelcalendar3").on("click",function(){
        $("#datetimepicker7").addClass('hidden');
      $("#datetimepicker6").removeClass('hidden');
   });
   
   $("#cancelcalendar4").on("click",function(){
        $("#datetimepicker10").addClass('hidden');
      $("#datetimepicker9").removeClass('hidden');
   });
   
   update_dates();
   create_map();
   list_object_types();
   $("#project_name").focus();
});
</script>
</head>
<body onload="timeTypeFunction()">
<div class="container">
<h1><a href="/">ADRIFT</a></h1>
<p class="lead"><a href="http://www.marine.ie/">Marine Institute</a> predicted sea surface tracking.</p>
<div class="row">
<div class="col-md-12">
<form id="new_project_form" method="post" action="/api/model/{{model}}/projection">
  <div class="row">
   <div class="col-md-6">
     <div class="form-group">
       <label class="control-label">LATITUDE. Please, enter the approximate latitude where the body entered the water. Alternatively, drag the marker on the map on the right.</label>
       <!--
       <input class="form-control" required type="number" size="20" min="{{latitude_min}}" max="{{latitude_max}}" step="any" id="latitude" name="latitude" value="{{latitude}}" >
       -->
       <input class="form-control" required type="number" size="20" step="any" id="latitude" name="latitude" value="{{latitude}}" >
     </div>
     <div class="form-group">
       <label class="control-label">LONGITUDE. Please, enter the approximate longitude where the body entered the water. Alternatively, drag the marker on the map on the right.</label>
       <!--
       <input class="form-control" required type="number" size="20" min="{{longitude_min}}" max="{{longitude_max}}" step="any" id="longitude" name="longitude" value="{{longitude}}" >
       -->
       <input class="form-control" required type="number" size="20" step="any" id="longitude" name="longitude" value="{{longitude}}" >
     </div>

     <div class="form-group">
       <label class="control-label">RADIUS. Use the slider below to select a radius of dispersion around the centre. This is used to account for uncertainties on the location where the body entered the water.</label>
       <label class="control-label"> <span id="radius_label"></span> metres </label>
       <input class="form-control" id="radius" name="radius" data-slider-id='radius' data-slider-tooltip="hide" type="text" data-slider-min="5" data-slider-max="1000" data-slider-step="5" data-slider-value="{{radius}}"/>
     </div>

     <hr>

     
     	 <!-- TYPE OF RELEASE (EITHER EXACT TIME OR TIME INTERVAL) -->
     	 <div class="form-group">
		  
		 <label class="control-label">ENTRY TIME. Please, enter the time when the body entered the water. If the entry time is known with high accuracy, select the "Exact time" option. Otherwise, select the "Time interval" option. <span style="background-color: #FFFF00"> Notice that all the times to be selected in the calendar forms below are in Dublin time. Mind the offset with your local time, if any. </span> </label>
                      
		 <label>                    <input type="radio" id="timeInterval" name="timetype" value="Time interval" onchange="timeEntryMode(this);" checked>
			 <i>Time interval</i></label>

		 <label><input style="margin-left:50px;" type="radio" id="exactTime" name="timetype" value="Exact time" onchange="timeEntryMode(this);">
			 <i>Exact time</i></label>
                                        
      	 </div> <!-- TYPE OF RELEASE (EITHER EXACT TIME OR TIME INTERVAL) (END) -->
      	 

<div id="EXACT_TIME" style="display: none;" > <!-- Widgets to select an exact entry time -->

  <div class="form-group">
  <label class="control-label">TIME. Please, enter the time when the body entered the water.</label>
  <p style="font-style:italic;color:grey;"> Available: from {{date_min}} to {{date_max}} (UTC) </p>
    <div class='input-group date' id='datetimepicker0'>
      <input class="form-control" required id="start_time_picker" value="{{start_time}}" name="start_time_picker" size="20" type="text" >
      <span class="input-group-addon">
      <span class="glyphicon glyphicon-calendar" id="switchcalendar"></span>
      </span>
    </div>
    <div class='input-group date hidden' id='datetimepicker1'>
        <div class='date' id='datetimepicker2'>
        </div>
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-pencil" id="cancelcalendar"></span>
          </span>
    </div>
    <input type="hidden" id="start_time" name="start_time" value="{{start_time}}">
  </div>

</div> <!-- Widgets to select an exact entry time (END) -->


<div id="TIME_INTERVAL" > <!-- Widgets to select a time interval for release -->

  <div class="form-group">
    <label class="control-label">START. Please, enter the earliest time when the body may have entered the water.</label>
  <p style="font-style:italic;color:grey;"> Available: from {{date_min}} to {{date_max}} (UTC)</p>
    <div class='input-group date' id='datetimepicker3'>
      <input class="form-control" required id="start_time_picker2" value="{{start_time}}" name="start_time_picker2" size="20" type="text" >
      <span class="input-group-addon">
      <span class="glyphicon glyphicon-calendar" id="switchcalendar2"></span>
      </span>
    </div>
    <div class='input-group date hidden' id='datetimepicker4'>
        <div class='date' id='datetimepicker5'>
        </div>
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-pencil" id="cancelcalendar2"></span>
          </span>
    </div>
    <input type="hidden" id="start_time2" name="start_time2" value="{{start_time}}">
  </div>


  <div class="form-group">
    <label class="control-label" >END. Please, enter the latest time when the body may have entered the water.</label>
  <p style="font-style:italic;color:grey;"> Available: from {{date_min}} to {{date_max}} (UTC)</p>
    <div class='input-group date' id='datetimepicker6'>
      <input class="form-control" required id="start_time_picker3" value="{{start_time}}" name="start_time_picker3" size="20" type="text" >
      <span class="input-group-addon">
      <span class="glyphicon glyphicon-calendar" id="switchcalendar3"></span>
      </span>
    </div>
    <div class='input-group date hidden' id='datetimepicker7'>
        <div class='date' id='datetimepicker8'>
        </div>
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-pencil" id="cancelcalendar3"></span>
          </span>
    </div>
    <input type="hidden" id="start_time3" name="start_time3" value="{{start_time}}">
  </div>

</div> <!-- Widgets to select a time interval for release (END) -->


     <hr>

  <div class="form-group">
    <label class="control-label">END OF SIMULATION. Please, enter the end time of the simulation. </label>
  <p style="font-style:italic;color:grey;"> Available: from {{date_min}} to {{date_max}} (UTC)</p>
    <div class='input-group date' id='datetimepicker9'>
      <input class="form-control" required id="start_time_picker4" value="{{start_time}}" name="start_time_picker4" size="20" type="text" >
      <span class="input-group-addon">
      <span class="glyphicon glyphicon-calendar" id="switchcalendar4"></span>
      </span>
    </div>
    <div class='input-group date hidden' id='datetimepicker10'>
        <div class='date' id='datetimepicker11'>
        </div>
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-pencil" id="cancelcalendar4"></span>
          </span>
    </div>
    <input type="hidden" id="start_time4" name="start_time4" value="{{start_time}}">
  </div>


     <hr>

 <div class="form-group">
    <label class="control-label">OBJECT TYPE. Select the object type from the drop-down list below.</label>
    <select  class="form-control" id="object_type" name="object_type"></select>
  </div>

 <div class="form-group">

      <button type="submit" class="btn btn-default">Submit</button>

      <a href="/" class="btn btn-default">Cancel</a>

 </div>

 </div>
   <div class="col-md-6">
     <div id="map"></div>
     <!-- Release Position Warning -->
     {% if w1 %}
         <p id="WARNING-1" style="color: red; font-size: 16px; margin-top: 20px;">
             Please, note that the marker on the map showing the entry site must NOT be: <br> 
             &emsp; <br> &emsp; - Outside the domain of the Northeast Atlantic
             model, showed by the rectangle. <br> &emsp; - East of Great Britain.
         </p>
     {% endif %}

     {% if w2 %}
         <p id="WARNING-2" style="color: red; font-size: 16px; margin-top: 20px;">
             Please, note that, if using the time interval release option, the END time must be after the START time.
         </p>
     {% endif %}

     {% if w3 %}
         <p id="WARNING-3" style="color: red; font-size: 16px; margin-top: 20px;">
             Please, note that the END OF SIMULATION time must be after the release time.
         </p>
     {% endif %}

   </div>
  </div>
  {% if shrink_domain %}
  <input type="hidden" name="northwest_lat" id="northwest_lat" value="">
  <input type="hidden" name="northwest_lon" id="northwest_lon" value="">
  <input type="hidden" name="southeast_lat" id="southeast_lat" value="">
  <input type="hidden" name="southeast_lon" id="southeast_lon" value="">
  {% endif %}


</form>
</div>
</div>
</div>
</body>
</html>
