from opendrift.models.oceandrift import OceanDrift
from opendrift.readers import reader_ROMS_native
from datetime import datetime, timedelta
import dateutil.parser

print('setting up opendrift model (no wind)...')

filename = '{{nc_output_path}}'

""" Set seeding conditions """
longitude = {{longitude}}
latitude = {{latitude}}
    
# Set number of floats 
N = {{number_of_particles}}

# Date
start_time = datetime({{start_time_datetime}})
end_time = datetime({{end_time_datetime}})
    
# Radius for uniform dispersion around source [meters]
R = {{radius}}


    
""" Model initialization """
model = OceanDrift(loglevel=0)
model.set_config('general:use_auto_landmask', False)
""" Add readers """
# Ocean data
print('fetching {{opendap_url}}')
phys = reader_ROMS_native.Reader('{{opendap_url}}')

# Adding readers
model.add_reader([phys])

""" Seed elements """
model.seed_elements(lon=longitude,
                lat=latitude,
                number=N,
                radius=R,
                radius_type="uniform",
                time=start_time,
                z='seafloor'
                )

        
""" Model run """
print('starting model run')
model.run(end_time=end_time, 
        time_step=timedelta(minutes=10), 
        time_step_output=timedelta(minutes=10), 
        outfile=filename,
        export_variables=["trajectory", 
                            "time", 
                            "status",
                            "age_seconds",
                            "lon", 
                            "lat"]
        )

#(times,a) = lw.get_time_array()
#(lats,lons) = lw.get_lonlats()
print('finished model run')
